.reset{
    text-align: center;
}
.reset button{
    padding: 10px 20px;
    border: none;
    color: #fff;
    background-color: #48ce48;
    cursor: pointer;
}
.reset button:disabled{
    background-color: #b0f6b0;
}