.counter-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.counter-container:nth-child(2){
    gap:10px
}

.red{
    color: red;
}
.yellow{
    color: yellow;
}
.green{
    color: green;
}