.counter-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.counter-container:nth-child(2){
    gap:10px
}

.red{
    color: #ff0000;
}
.yellow{
    color: #ffff00;
}
.green{
    color: #008000;
}